body{
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #ee82ee;
    color: #ffffff;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
}
table{

    border: 2px solid #000000;
    border-radius: 5px;
}


th, td {
    border: 2px solid #a5762f;
    text-align: center;
    padding: 8px;
    margin: 0px;
}
mark{
    background-color: #ffc0cb;
    color: #008000;
   padding: 4px;
   border-radius: 7px;
}